/*######### Tipo y tamaño de letra general#######*/
html, body {/*, form, fieldset, table, tr, td, img {*/
	font-family: FontMenu;
	/*font-size: x-large;*/
}
/*######### FIN Tipo y tamaño de letra general#######*/
/*#####Fondo#####*/
img.bg {
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
/*##########Fin Fondo##############*/




.footer{
	position: absolute;

	bottom: 0px;

	width:100%;
	background-color: rgba(227, 227, 227, 0.7);
	box-shadow: -3px -5px 1px rgba(89,176,185, 0.7);
	margin-top: 20px;
  
}

@media screen and (min-width: 768px) { /* Specific to this particular image */
  .footer {
    position: relative;
	bottom: 0px;
	width:100%;
	background-color:  rgba(227, 227, 227, 0.7);
	margin-top: 20px;
	box-shadow: -3px -5px 1px rgba(89,176,185, 0.7);
  }

}

