<div class="panel panel panel-info">
  <div class="panel-heading">Resultados</div>
  <div class="panel-body" style="background-color: rgba(227, 227, 227, 0.7);">
    <div id="listadodepeliculas"></div>
</div>