 <style type="text/css">
            .creations-filter a { 
                margin-right: 10px; 
                color:#666;
                text-decoration:none;
          }

          .creations-filter a.current { 
              font-weight:bold;
          }

          .creations-filter {
              text-align: center;
          }

          .panel-body {
              width: 100%;
              margin:auto;
          }

          .creations-container {
            padding-left: 20px;
          }
          img {
              margin:5px;
          }

          .isotope-item {
              z-index: 2;
          }
          .isotope-hidden.isotope-item {
              pointer-events: none;
              z-index: 1;
          }
          .isotope,
          .isotope .isotope-item {
              -webkit-transition-duration: 0.8s;
              -moz-transition-duration: 0.8s;
              transition-duration: 0.8s;
          }
          .isotope {
              -webkit-transition-property: height, width;
              -moz-transition-property: height, width;
              transition-property: height, width;
          }
          .isotope .isotope-item {
              -webkit-transition-property: -webkit-transform, opacity;
              -moz-transition-property: -moz-transform, opacity;
              transition-property: transform, opacity;
          }
    </style>

<div class="panel panel panel-info">
  <div class="panel-heading">Cartelera</div>
  <div class="panel-body" style="background-color: rgba(227, 227, 227, 0.7);" id="ListaCartelera" style="height:700px;">

 <div class="row">
                 <div class="col-md-10 col-xs-10 col-sm-10">                 

                </div>
                <div class="col-md-2 col-xs-2 col-sm-2">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      Categorias
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                     <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#" data-filter="*">Todas</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#acción" data-filter=".acción">Acción</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#animación" data-filter=".animación">Animación</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#artesmarciales" data-filter=".artesmarciales">artes marciales</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#aventura" data-filter=".aventura">aventura</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Bélico" data-filter=".Bélico">Bélico</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Biográficas" data-filter=".Biográficas">Biográficas</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#CienciaFicción" data-filter=".CienciaFicción">Ciencia Ficción</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Comedia" data-filter=".Comedia">Comedia</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dibujosanimados" data-filter=".Dibujosanimados">Dibujos Animados</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Documentales" data-filter=".Documentales">Documentales</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Drama" data-filter=".Drama">Drama</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Erótico" data-filter=".Erótico">Erótico</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Fantasía" data-filter=".Fantasía">Fantasía</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Histórico" data-filter=".Histórico">Histórico</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Infantil" data-filter=".Infantil">Infantil</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Intriga" data-filter=".Intriga">Intriga</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Musical" data-filter=".Musical">Musical</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Oeste" data-filter=".Oeste">Oeste</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Policíaca" data-filter=".Policíaca">Policíaca</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Romántico" data-filter=".Romántico">Romántico</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Terror" data-filter=".Terror">Terror</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Clásicas" data-filter=".Clásicas">Clásicas</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Guerra" data-filter=".Guerra">Guerra</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramageneral" data-filter=".Dramageneral">Dramageneral</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramasuspenso" data-filter=".Dramasuspenso">Drama suspenso</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramaromance" data-filter=".Dramaromance">Drama romance</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramapolítico" data-filter=".Dramapolítico">Drama político</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramacomedia" data-filter=".Dramacomedia">Drama comedia</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramajudicial" data-filter=".Dramajudicial">Drama judicial</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Horror" data-filter=".Horror">Horror</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Suspenso" data-filter=".Suspenso">Suspenso</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Deportes" data-filter=".Deportes">Deportes</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Misterio" data-filter=".Misterio">Misterio</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#épica" data-filter=".épica">épica</a></li>
                       </ul>
                  </div>
                    
                </div>
            </div>
<center>
    <div class="creations-container" id="contenedorCartelera">
      
    </div>
  </center>
  </div>
</div>
<div class="modal fade" id="ModalEstrenos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"  >
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" >Detalles de la Pelicula</h4>
      </div>
      <div class="modal-body" id="DetallesdePelicula">
        </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalComprarPelicula" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Comprar Pelicula</h4>
      </div>
      <div class="modal-body" id="contenedorPuestos">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="comprarEntradas" style="display:none;">Comprar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalFacturaPelicula" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
      </div>
      <div class="modal-body" id="Factura">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/jquery.isotope.min.js"></script>


<script type="text/javascript">
           $.ajax
            ({
            type: "POST",
            url: "modelo/ControladorPelicula.php",
            data: {id:10},
            dataType: "json",
            async: false,           
            success:
            function (msg) 
            {                       
                
                var html="";
                if(msg[0].sesion=="true"){
                                for (var i =0; i<msg[0].m; i++) {
                                    var clases="";
                                    for (var j=0; j<(msg[i]['genero']).length; j++) {
                                        console.log(msg[i]['genero'][j]);
                                        clases=clases+" "+msg[i]['genero'][j];
                                    }
                                    var path="modelo/uploads/"+msg[i].idPelicula+"/"+msg[i].cover;
                                   
                                    html=html+'<div class="'+clases+'"><img src="'+path+'"   width=300 height=250 alt="image" class="img-thumbnail"><br><a type="button" class="btn btn-default btn-sm pelicula" name="'+msg[i].id+'"   data-toggle="modal" data-target="#ModalEstrenos" title="Ver mas Detalles de la pelicula"><span class="glyphicon glyphicon-plus"></span></a> <a type="button" class="btn btn-default btn-sm comprar"  name="'+msg[i].id+'" data-toggle="modal" data-target="#ModalComprarPelicula"title="Comprar Pelicula" ><span class="glyphicon glyphicon-usd"></span></a></div>';
                                }
                              }
                  else{
                          for (var i =0; i<msg[0].m; i++) {
                                    var clases="";
                                    for (var j=0; j<(msg[i]['genero']).length; j++) {
                                        console.log(msg[i]['genero'][j]);
                                        clases=clases+" "+msg[i]['genero'][j];
                                    }
                                    var path="modelo/uploads/"+msg[i].idPelicula+"/"+msg[i].cover;
                                   
                                    html=html+'<div class="'+clases+'"><img src="'+path+'"   width=300 height=250 alt="image" class="img-thumbnail"><br><a type="button" class="btn btn-default btn-sm pelicula" name="'+msg[i].id+'"   data-toggle="modal" data-target="#ModalEstrenos" title="Ver mas Detalles de la pelicula"><span class="glyphicon glyphicon-plus"></span></a></div>';
                                }
                  }
                   /* console.log(html);*/
                    contenedorCartelera.innerHTML=html;

                
               
             },
                error:
                function (msg) {console.log( msg +"No se pudo realizar la conexion");}
            });
  var $container = $('.creations-container');
    $container.isotope({
        filter: '*',
        animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
        }
    });

    $('a.option').click(function(){
        $('a.option .current').removeClass('current');
        $(this).addClass('current');

        var selector = $(this).attr('data-filter');
        $container.isotope({
            filter: selector,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
         });
         return false;
        }); 

    $('a.pelicula').on('click',  function(){
        var id=$(this).attr('name');
        $.ajax
            ({
            type: "POST",
            url: "modelo/ControladorPelicula.php",
            data: {id:12, ID:id},
            dataType: "json",
            async: false,           
            success:
            function (msg) 
            {                       
                
                DetallesdePelicula.innerHTML="Nombre: "+msg[0].nombre+"<br>Duracion: "+msg[0].duracion+"<br>Descripcion: "+msg[0].descripcion+"<br>Clasificacion: "+msg[0].clasificacion+"<br>Costo: "+msg[0].costo;

                
               
             },
                error:
                function (msg) {console.log( msg +"No se pudo realizar la conexion");}
            });

    });
      var comprados=0;
      eventosComprarPelicula(0);
      function eventosComprarPelicula(comprados){
       $('a.comprar').on('click',  function(){
            /*console.log("click en comprar2:");*/
             var idPelicula=$(this).attr('name');
             var costo=0;
             $("#contenedorPuestos").hide().load('partials/silla.html', function(){
                puestos=new Array();
                $.ajax
                  ({
                  type: "POST",
                  url: "modelo/ControladorPelicula.php",
                  data: {id:3, ID:idPelicula},
                  dataType: "json",
                  async: false,           
                  success:
                  function (msg) 
                  {   
                      /*console.log("sillas compradas: "+comprados);*/
                      comprados=0;
                       puestos=msg[0].disponible;
                       costo=msg[0].costo;
                   },
                      error:
                      function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                  });

                $('#listadodeasientos').html("");                    
                var table = $('<table></table>').addClass('table table-hover');           
                var row=$('<tr></tr>');
                $('#listadodeasientos').append(listadodeasientos(table, row, puestos));
                

                $('a.puesto').on('click',  function(){
                  
                   var id=$(this).attr('id');
                  
                  /*console.log("id de la silla: "+id+ " posicion vacio? "+puestos[id-1]);*/
                  if(puestos[id-1]==0){
                    puestos[id-1]=-1;
                    comprados++;
                    if(comprados>0)
                      $('#comprarEntradas').fadeIn();
                    else
                       $('#comprarEntradas').fadeOut();
                    (document.getElementById("costo")).innerHTML="Sillas Compradas: " +comprados +"  Costo "+(parseFloat(costo)*comprados)+" Bs";
                   /* console.log("Costo "+(costo*comprados)+" Bs");
                    console.log(" Cantidad Comprada: "+comprados + " Sillas: "+puestos);*/
                    var id2=id;
                    if(id2>=10&&id2<20)
                      id2=id2%10;
                    if(id2>=20&&id2<30)
                      id2=id2%20;
                    if(id2>=30&&id2<40)
                      id2=id2%30;
                    if(id2>=40&&id2<50)
                      id2=id2%40;

                    id2;
                    
                    (document.getElementById(id)).innerHTML='<img src="img/cine4.png" class="silla"><br><center>'+(id)+'</center>';

                    return
                  }
                  if(puestos[id-1]==-1){
                    puestos[id-1]=0;
                    comprados--;
                    if(comprados>0)
                      $('#comprarEntradas').fadeIn();
                    else
                       $('#comprarEntradas').fadeOut();
                    (document.getElementById("costo")).innerHTML="Sillas Compradas: " +comprados +"  Costo "+(parseFloat(costo)*comprados)+" Bs";

                    /*  console.log("Costo "+(costo*comprados)+" Bs");
                    console.log(" Cantidad Comprada: "+comprados + " Sillas: "+puestos);*/
                    (document.getElementById(id)).innerHTML='<img src="img/silla.png" class="silla"><br><center>'+(id)+'</center>';
                    return
                  }

                  
                });
                Comprar(puestos, idPelicula);
                
             }).slideToggle(1000);

        });
      }
            
function listadodeasientos( table, row, puesto){        
            var cont=0;
              for(i=0; i<5; i++){
                var row2 = $('<tr></tr>');
                if(i==0)
                  row2.append($('<td width="50" ></td>').html('E'));
                if(i==1)
                  row2.append($('<td width="50" ></td>').html('D'));
                if(i==2)
                  row2.append($('<td width="50" ></td>').html('C'));
                if(i==3)
                  row2.append($('<td width="50" ></td>').html('B'));
                if(i==4)
                  row2.append($('<td width="50" ></td>').html('A'));
                for (var j = 0; j<11; j++) {

                  if(j==5)
                    row2.append($('<td width="50" ></td>').html(''));
                  if(j<5){
                    cont++;
                    if(puesto[cont-1]==0)
                      row2.append($('<td></td>').html('<a href="#" id="'+cont+'" class="puesto" ><img src="img/silla.png" class="silla"><br><center>'+(cont)+'</center> </a>')); 
                    if(puesto[cont-1]==1)
                      row2.append($('<td></td>').html('<a href="#" id="'+cont+'" class="puesto" disabled><img src="img/cine2.png" class="silla" disabled><br><center>'+(cont)+'</center> </a>')); 
                  }
                  if(j>5){
                    cont++;
                   if(puesto[cont-1]==0)
                    row2.append($('<td></td>').html('<a href="#" id="'+cont+'" class="puesto" ><img src="img/silla.png" class="silla"><br><center>'+(cont)+'</center> </a>'));  
                   if(puesto[cont-1]==1)
                       row2.append($('<td></td>').html('<a href="#" id="'+cont+'" class="puesto" disabled><img src="img/cine2.png" class="silla"><br><center>'+(cont)+'</center> </a>'));  
                  
                  }    
                }
                        
                table.append(row2);
              }
            return table;
          }
          function Comprar(Puestos, ID){
        $('#comprarEntradas').on('click',  function(){
       /*   console.log("click en comprar entradas");*/
            $.ajax
                  ({
                  type: "POST",
                  url: "modelo/ControladorPelicula.php",
                  data: {id:4, ID:ID, puestos:Puestos},
                  dataType: "json",
                  async: false,           
                  success:
                  function (msg) 
                  {   
                      /*console.log(msg);*/
                      $('#ModalComprarPelicula').modal('hide');
                      $('#ModalFacturaPelicula').modal('show');
                      $("#Factura").load('partials/factura.php', function(){
                        fecha22.innerHTML=msg[0].Fecha;
                        hora.innerHTML=msg[0].hora;
                        ticket.innerHTML=msg[0].id;

                        total2.innerHTML=(msg[0].cantidad*parseFloat(msg[0].costo))+" Bs";
                        customertitle.innerHTML=msg[0].nombre;
                         var fila1 = $('<td class="item-name"></td>').html(msg[0].nombrePelicula);
                         var asientos="";  
                         for (var i =0; i<(msg[0]['asientos']).length; i++) {
                            if(i==0)
                            asientos=msg[0]['asientos'][i];
                            if(i>0)
                              asientos=asientos+ ", "+msg[0]['asientos'][i];

                          }
                         var fila2 = $('<td></td>').html(asientos);         
                         var fila3 = $('<td></td>').html(msg[0].costo);  
                         var fila4 = $('<td></td>').html(msg[0].cantidad);
                         var fila5 = $('<td></td>').html((msg[0].cantidad*parseFloat(msg[0].costo)));
                       
                        $('#detallesdecompra').append(fila1);
                        $('#detallesdecompra').append(fila2);
                        $('#detallesdecompra').append(fila3);
                        $('#detallesdecompra').append(fila4);
                        $('#detallesdecompra').append(fila5);




                      });

                  },
                      error:
                      function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                  });
        });
      }
    /*$('a.comprar').on('click',  function(){
        var id=$(this).attr('name');
        $.ajax
            ({
            type: "POST",
            url: "modelo/ControladorPelicula.php",
            data: {id:12, ID:id},
            dataType: "json",
            async: false,           
            success:
            function (msg) 
            {                       
                
                DetallesdePelicula.innerHTML="Nombre: "+msg[0].nombre+"<br>Duracion: "+msg[0].duracion+"<br>Descripcion: "+msg[0].descripcion+"<br>Clasificacion: "+msg[0].clasificacion+"<br>Costo: "+msg[0].costo;

                
               
             },
                error:
                function (msg) {console.log( msg +"No se pudo realizar la conexion");}
            });
        
    });*/

</script>