<!-- <script src="../js/jquery-1.11.0.js"></script> -->
<div class="panel panel panel-info">
  <div class="panel-heading">Cartelera</div>
  <div class="panel-body" style="background-color: rgba(227, 227, 227, 0.7);">
     <div id="alerta2">
        <div class="alert alert-warning" role="alert">
             <a href="#" class="alert-link">Escriba todos los datos</a>
        </div>
    </div>
            <div class="row">
                 <div class="col-md-6 col-xs-6 col-sm-6">                 
                     <div class="form-group">
                         <label >Correo</label>
                         <input type="text" class="form-control" id="tcorreo2" disabled="">  
                    </div>
                    <div class="form-group">
                         <label >Contraseña</label>
                         <input type="password" class="form-control" id="tpass22" >  
                    </div>
                    <div class="form-group">
                         <label >Confirmar Contraseña</label>
                         <input type="password" class="form-control" id="tpass32" >  
                    </div>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6">
             
                     <div class="form-group">
                         <label >Pregunta Secreta</label>
                         <input type="text" class="form-control" id="tP2" >  
                    </div>
                    <div class="form-group">
                         <label >Respuesta Secreta</label>
                         <input type="text" class="form-control" id="tR2" >  
                    </div>
                </div>
            </div>
            
            <div class="alert alert-info" role="alert">
              <a href="#" class="alert-link">Datos Personales</a>
            </div>
            <hr>
            
            <div class="row">
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <div class="form-group">
                         <label >Nombre</label>
                         <input type="text" class="form-control" id="tNombre2" >  
                    </div>
                    <div class="form-group">
                         <label >Apellido</label>
                         <input type="text" class="form-control" id="tApellido2" >  
                    </div>
                    <div class="form-inline">
                        <label for="tipoci"><h5>Fecha de Nacimiento: </h5></label>
                        <input type="date" class="form-control" id="fecha2">
                    </div>
                    <div class="form-group">
                         <label >Pais</label>
                         <input type="text" class="form-control" id="tPais2" >  
                    </div>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <div class="form-group">
                         <label >Estados</label>
                         <select  id="estados2" class="form-control">                
                            <option>Amazonas</option>                                
                            <option>Anzoategui</option>                                
                            <option>Apure</option>                                
                            <option>Aragua</option>                                
                            <option>Area Metropolitana</option>                                
                            <option>Barinas</option>                                
                            <option>Bolivar</option>                                
                            <option>Carabobo</option>                                
                            <option>Cojedes</option>                                
                            <option>Delta Amacuro</option>                                
                            <option>Guárico</option>                                
                            <option>Lara</option>                                
                            <option>Mérida</option>                                
                            <option>Miranda</option>                                
                            <option>Monagas</option>                               
                            <option>Nueva Esparta</option>                                
                            <option>Portuguesa</option>                                
                            <option>Sucre</option>                                
                            <option>Táchira</option>                                
                            <option>Trujillo</option>                                
                            <option>Vargas</option>                                
                            <option>Yaracuy</option>                                
                            <option>Zulia</option>                                
                        </select>
                    </div>
                    <div class="form-group">
                         <label >Sexo </label>
                        <select id="sex2" class="form-control" >
                            <option value="F">Femenino</option>
                            <option value="M">Masculino</option>
                            <option value="R" selected="selected">Reservado</option>
                        </select> 

                    </div>
                    <div class="form-group">
                         <label >Direccion: </label>
                         <input type="text" class="form-control" id="tDir2" >  
                    </div>
                    <div class="form-group">
                         <label >Telefono: </label>
                         <input type="text" class="form-control" id="tTelf2" >  
                    </div>

                </div>    
            </div>
            <button type="button" class="btn btn-warning" id="modificar2"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
          </div>
</div>

<script type="text/javascript"> 
    $(document).ready(function() {
            $.ajax
                ({
                type: "POST",
                url: "Modelo/ControladorUsuario.php",
                data: {id:4, },
                dataType: "json",
                async: false,           
                success:
                function (msg) 
                {   console.log(msg);
                    
                    tNombre2.value=msg[0].Nombre;
                    tApellido2.value=msg[0].Apellido;
                    console.log("fecha "+msg[0].Fecha);
                    $('#fecha2').val(msg[0].Fecha);
                    estados2.value=msg[0].Estados;
                    sex2.value=msg[0].Sexo;
                    tDir2.value=msg[0].Direccion;
                    tTelf2.value=msg[0].Telefono;
                    tcorreo2.value=msg[0].Correo;
                    tpass22.value=msg[0].Pass;
                    tpass32.value=msg[0].Pass;
                    
                    tP2.value=msg[0].Pregunta;
                    tR2.value=msg[0].Respuesta;
                    tPais2.value=msg[0].Pais;

                 },
                    error:
                    function (msg) {alert( msg +"No se pudo realizar la conexion");}
                });

           $('#modificar2').on('click',  function(){
               // console.log("click en modificar");
                if(ValidarFormadeRegistro2()){
                        
                        $.ajax
                            ({
                            type: "POST",
                            url: "Modelo/ControladorUsuario.php",
                            data: {id:5, nombre:tNombre2.value, apellido:tApellido2.value, fecha:fecha2.value, estados:estados2.value, sexo:sex2.value, direccion:tDir2.value, telefono:tTelf2.value, correo:tcorreo2.value, pass:tpass22.value, pregunta:tP2.value, respuesta:tR2.value, pais:tPais2.value },
                            dataType: "json",
                            async: false,           
                            success:
                            function (msg) 
                            {   console.log(msg);
                                
                                
                                if(msg=="true"){        
                                    alerta2.innerHTML="<div class='alert alert-success'>¡Se ha Modificado correctamente!</div>";
                                    LimpiarFormadeRegistro();
                                }
                             },
                                error:
                                function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                            });
                }
            });
function ValidarFormadeRegistro2(){
                    if(tcorreo2.value==""||!validar_email(tcorreo2.value)){
                        alerta2.innerHTML="<div class='alert alert-warning'>¡Por favor escriba un <b>Correo </b>  Valido!</div>";        
                        return false;
                    }
                    else if(tpass22.value=="")
                    {  
                        alerta2.innerHTML="<div class='alert alert-warning'>¡Por favor escriba una <b>Contraseña</b>!</div>";
                        return false;
                    }
                    else if(tpass32.value=="")
                    {  
                        alerta2.innerHTML="<div class='alert alert-warning'>¡Por favor escriba la misma <b>Contraseña</b> para confirmar!</div>";
                        return false;
                    }
                    else if(tP2.value=="")
                    {  
                        alerta2.innerHTML="<div class='alert alert-warning'>¡Por favor escriba una <b>Pregunta secreta</b>!</div>";
                        return false;
                    }
                    else if(tR2.value=="")
                    {  
                        alerta2.innerHTML="<div class='alert alert-warning'>¡Por favor escriba una  <b>Respuesta secreta</b>!</div>";
                        return false;
                    }
                    else if(tNombre2.value=="")
                    {  
                        alerta2.innerHTML="<div class='alert alert-warning'>¡Por favor escriba un <b>Nombre</b>!</div>";
                        return false;
                    }
                    else if(tApellido2.value=="")
                    {  
                        alerta2.innerHTML="<div class='alert alert-warning'>¡Por favor escriba un <b>Apellido</b>!</div>";
                        return false;
                    }
                    else if(fecha2.value=="")
                    {  
                        alerta2.innerHTML="<div class='alert alert-warning'>¡Por favor seleccione una <b>Fecha de nacimiento</b>!</div>";
                        return false;
                    }
                    else if(tPais2.value=="")
                    {  
                        alerta2.innerHTML="<div class='alert alert-warning'>¡Por favor escriba un <b>Pais</b>!</div>";
                        return false;
                    }
                    else if(tDir2.value=="")
                    {  
                        alerta2.innerHTML="<div class='alert alert-warning'>¡Por favor escriba una <b>Direccion</b>!</div>";
                        return false;
                    }
                    else if(!tTelf2.value.match(/^[0-9]+$/))
                    {  
                        alerta2.innerHTML="<div class='alert alert-warning'>¡Por favor escriba un <b>Telefono</b> valido!</div>";
                        return false;
                    }
                    else if(tpass22.value!=tpass32.value)
                    {  
                        console.log("Pass1: "+ tpass22.value +"  pass2: " +tpass32.value );
                        alerta2.innerHTML="<div class='alert alert-warning'>¡La Contraseña y la confirmacion de la contraseña no coinciden!</div>";
                        return false;
                    }
                    else {return true;}
                }

                function validar_email(valor)
                    {
                        // creamos nuestra regla con expresiones regulares.
                        var filter = /[\w-\.]{3,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
                        // utilizamos test para comprobar si el parametro valor cumple la regla
                        if(filter.test(valor))
                            return true;
                        else
                            return false;
                    }
                

        });
</script>

