 <style type="text/css">
            .creations-filter a { 
                margin-right: 10px; 
                color:#666;
                text-decoration:none;
          }

          .creations-filter a.current { 
              font-weight:bold;
          }

          .creations-filter {
              text-align: center;
          }

          .panel-body {
              width: 100%;
              margin:auto;
          }

          .creations-container {

          }
          img {
              margin:5px;
          }

          .isotope-item {
              z-index: 2;
          }
          .isotope-hidden.isotope-item {
              pointer-events: none;
              z-index: 1;
          }
          .isotope,
          .isotope .isotope-item {
              -webkit-transition-duration: 0.8s;
              -moz-transition-duration: 0.8s;
              transition-duration: 0.8s;
          }
          .isotope {
              -webkit-transition-property: height, width;
              -moz-transition-property: height, width;
              transition-property: height, width;
          }
          .isotope .isotope-item {
              -webkit-transition-property: -webkit-transform, opacity;
              -moz-transition-property: -moz-transform, opacity;
              transition-property: transform, opacity;
          }
    </style>

<div class="panel panel panel-info">
  <div class="panel-heading">Proximos Estrenos</div>
  <div class="panel-body"  id="ListaCartelera2" >

 <div class="row">
                 <div class="col-md-10 col-xs-10 col-sm-10">                 

                </div>
                <div class="col-md-2 col-xs-2 col-sm-2">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      Categorias
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                     <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#" data-filter="*">Todas</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#acción" data-filter=".acción">Acción</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#animación" data-filter=".animación">Animación</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#artesmarciales" data-filter=".artesmarciales">artes marciales</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#aventura" data-filter=".aventura">aventura</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Bélico" data-filter=".Bélico">Bélico</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Biográficas" data-filter=".Biográficas">Biográficas</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#CienciaFicción" data-filter=".CienciaFicción">Ciencia Ficción</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Comedia" data-filter=".Comedia">Comedia</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dibujosanimados" data-filter=".Dibujosanimados">Dibujos Animados</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Documentales" data-filter=".Documentales">Documentales</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Drama" data-filter=".Drama">Drama</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Erótico" data-filter=".Erótico">Erótico</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Fantasía" data-filter=".Fantasía">Fantasía</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Histórico" data-filter=".Histórico">Histórico</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Infantil" data-filter=".Infantil">Infantil</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Intriga" data-filter=".Intriga">Intriga</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Musical" data-filter=".Musical">Musical</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Oeste" data-filter=".Oeste">Oeste</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Policíaca" data-filter=".Policíaca">Policíaca</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Romántico" data-filter=".Romántico">Romántico</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Terror" data-filter=".Terror">Terror</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Clásicas" data-filter=".Clásicas">Clásicas</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Guerra" data-filter=".Guerra">Guerra</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramageneral" data-filter=".Dramageneral">Dramageneral</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramasuspenso" data-filter=".Dramasuspenso">Drama suspenso</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramaromance" data-filter=".Dramaromance">Drama romance</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramapolítico" data-filter=".Dramapolítico">Drama político</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramacomedia" data-filter=".Dramacomedia">Drama comedia</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Dramajudicial" data-filter=".Dramajudicial">Drama judicial</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Horror" data-filter=".Horror">Horror</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Suspenso" data-filter=".Suspenso">Suspenso</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Deportes" data-filter=".Deportes">Deportes</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#Misterio" data-filter=".Misterio">Misterio</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1"  class="option" href="#épica" data-filter=".épica">épica</a></li>
                       </ul>
                  </div>
                    
                </div>
            </div>

    <div class="creations-container" id="contenedorCartelera2">
      
    </div>
  </div>
</div>

<div class="modal fade" id="ModalEstrenos3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"  >
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" >Detalles de la Pelicula</h4>
      </div>
      <div class="modal-body" id="DetallesdePelicula2">
        
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" ><span class="glyphicon glyphicon-ban-circle"></span>Cancelar</button>
        <a type="button" class="btn btn-primary " id="EliminarPelicula"><span class="glyphicon glyphicon-usd"></span>Comprar</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>


<script type="text/javascript">
           $.ajax
            ({
            type: "POST",
            url: "modelo/ControladorPelicula.php",
            data: {id:11},
            dataType: "json",
            async: false,           
            success:
            function (msg) 
            {                       
                
                var html="";
                for (var i =0; i<msg[0].m; i++) {
                    var clases="";
                    for (var j=0; j<(msg[i]['genero']).length; j++) {
                        console.log(msg[i]['genero'][j]);
                        clases=clases+" "+msg[i]['genero'][j];
                    }
                    var path="modelo/uploads/"+msg[i].idPelicula+"/"+msg[i].cover;
                  
                    html=html+'<div class="'+clases+'"><img src="'+path+'"   width=300 height=250 alt="image" class="img-thumbnail"><br><a type="button" class="btn btn-default btn-sm pelicula2" name="'+msg[i].id+'"   data-toggle="modal" data-target="#ModalEstrenos3" title="Ver mas Detalles de la pelicula"><span class="glyphicon glyphicon-plus"></span></a></div>';
                }
                
                    
                    contenedorCartelera2.innerHTML=html;
                    vermas();

                
               
             },
                error:
                function (msg) {console.log( msg +"No se pudo realizar la conexion");}
            });
  var $container = $('.creations-container');
    $container.isotope({
        filter: '*',
        animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
        }
    });

    $('a.option').click(function(){
        $('a.option .current').removeClass('current');
        $(this).addClass('current');

        var selector = $(this).attr('data-filter');
        $container.isotope({
            filter: selector,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
         });
         return false;
        }); 

    function vermas(){ 
      console.log("hola probando");
       $('a.pelicula2').on('click',  function(){
              var id=$(this).attr('name');
              console.log("Click en ver mas detalle de la pelicula");
              $.ajax
                  ({
                  type: "POST",
                  url: "modelo/ControladorPelicula.php",
                  data: {id:12, ID:id},
                  dataType: "json",
                  async: false,           
                  success:
                  function (msg) 
                  {                       
                      
                      DetallesdePelicula2.innerHTML="Nombre: "+msg[0].nombre+"<br>Duracion: "+msg[0].duracion+"<br>Descripcion: "+msg[0].descripcion+"<br>Clasificacion: "+msg[0].clasificacion+"<br>Costo: "+msg[0].costo;

                      
                     
                   },
                      error:
                      function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                  });

          });
  }
</script>