    <link href="css/bootstrapValidator.css" rel="stylesheet">



<div class="panel panel panel-info">
  <div class="panel-heading">Agregar Pelicula</div>
  <div class="panel-body" >
	<div role="tabpanel">

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#tabAgregar" aria-controls="home" role="tab" data-toggle="tab">Agregar</a></li>
	    <li role="presentation"><a href="#tabListado" aria-controls="profile" role="tab" data-toggle="tab">Listado</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="tabAgregar">	  
	    <hr>
				  <div id="alertaPelicula">
				        <div class="alert alert-warning" role="alert">
				             <a href="#" class="alert-link">Escriba todos los datos</a>
				        </div>
				  </div>
		<hr>
		<form id="alwaysEnableButtonForm" method="post" class="form-horizontal" onsubmit="return false;">
				    <div class="form-group">
				        <label class="col-sm-3 control-label">Nombre</label>
				        <div class="col-sm-5">
							           <input type="text" class="form-control" id="tnombre"  name="nombre" value="Xmens">  
				        </div>
				    </div>

				    <div class="form-group">
				        <label class="col-sm-3 control-label">Duracion</label>
				        <div class="col-sm-5">
				            <input type="text" class="form-control" id="tduracion"  name="duracion" value="90">  

				        </div>
				    </div>

				    <div class="form-group">
				        <label class="col-sm-3 control-label">Genero</label>
				        <div class="col-sm-5">
				            <!-- <select class="form-control" name="priority" style="width: 200px;">
				                <option value="">Choose the priority</option>
				                <option value="low">Low</option>
				                <option value="medium">Medium</option>
				                <option value="high">High</option>
				            </select> -->
				            <select class="form-control"  name="priority" multiple="multiple" style="width: 200px;" id="tgenero">
				  			           
							          	<option value="acción">Acción </option>
							          	<option value="animación">Animación</option>
							          	<option value="artesmarciales">Artes Marciales </option>
							          	<option value="aventura">Aventura</option>
							          	<option value="Bélico">Bélico</option>
							          	<option value="Biográficas">Biográficas</option>
							          	<option value="CienciaFicción">Ciencia ficción</option>
							          	<option value="Comedia">Comedia </option>
							          	<option value="Dibujosanimados">Dibujos animados</option>
							          	<option value="Documentales">Documentales</option>
							          	<option value="Drama">Drama</option>
							          	<option value="Erótico">Erótico </option>
							          	<option value="Fantasía">Fantasía  </option>
							          	<option value="Histórico">Histórico  </option>
							          	<option value="Infantil">Infantil  </option>
							          	<option value="Intriga">Intriga</option>
							          	<option value="Musical">Musical </option>
							          	<option value="Oeste">Oeste</option>
							          	<option value="Policíaca">Policíaca  </option>
							          	<option value="Romántico">Romántico</option>
							          	<option value="Terror">Terror </option>
							          	<option value="Clásicas">Clásicas </option>
							          	<option value="Guerra">Guerra</option>
							          	<option value="Dramageneral">Drama general</option>
							          	<option value="Dramasuspenso">Drama suspenso</option>
							          	<option value="Dramaromance">Drama romance</option>
							          	<option value="Dramapolítico">Drama político</option>
							          	<option value="Dramacomedia">Drama comedia</option>
							          	<option value="Dramajudicial">Drama judicial</option>
							          	<option value="Horror">Horror</option>
							          	<option value="Suspenso">Suspenso</option>
							          	<option value="Deportes">Deportes</option>
							          	<option value="Misterio">Misterio</option>
							          	<option value="épica">épica </option>
							          </select>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">Descripcion</label>
				        <div class="col-sm-5">
				           <textarea class="form-control" id="tdescripcion"  name="descripcion"></textarea>


				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">Clasificacion</label>
				        <div class="col-sm-5">
							   <input type="text" class="form-control" id="tclasificacion" name="clasificacion"> 
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">Sala</label>
				        <div class="col-sm-5">  
				             <select class="form-control" id="tsala"  name="sala" style="width: 200px;"></select> 
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">Hora</label>
				        <div class="col-sm-5">
				            <select class="form-control" id="thora" name="hora" style="width: 200px;">
					           	<option id="-1" selected></option>
					           	<option value="1">6:30PM-9:00PM</option>
					           	<option value="2">4:30PM-6:30PM</option>
					           	<option value="3">2:30-PM-4:30PM</option>
					           </select>

				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">Cover Imagen</label>
				        <div class="col-sm-8">
				            <input type="file" id="file" class="form-control" name="file">
					            <div class="row">
					            	<div class="col-md-3 col-xs-3 col-sm-3">
					            		<div id="preview" name="preview"></div>
					            	</div>
					            	<div class="col-md-9 col-xs-9 col-sm-9" id="alertaimagen">
					            	</div>
					            </div>

				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">Fecha de Estreno de la pelicula</label>
				        <div class="col-sm-5">
					           <input type="date" class="form-control" id="fecha1" name="fecha1">			            

				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">Fecha Final de la pelicula</label>
				        <div class="col-sm-5">
					           <input type="date" class="form-control" id="fecha2" name="fecha2">			            

				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">Costo</label>
				        <div class="col-sm-5">
					           <input type="text" class="form-control" id="costo" name="costo">			            

				        </div>
				    </div>
				    <div class="form-group">
				        <div class="col-sm-5 col-sm-offset-3">
				            <button type="submit" class="btn btn-default" id="agregarPelicula2">Agregar Pelicula</button>
				        </div>
				    </div>
				</form>
		
		<!-- <form id="agregarPelicula" method="post" class="form-horizontal" onsubmit="return false;">

			      <div class="form-group">
			           <label >Nombre de la pelicula</label>
			           <input type="text" class="form-control" id="tnombre"  name="nombre" value="Xmens">  
			      </div>
			      <div class="form-group">
			           <label >Genero</label>
			           <input type="text" class="form-control" id="tgenero" value="Accion">   
  			          <select class="form-control" id="tgenero"  multiple="multiple">
  			           
			          	<option value="acción">Acción </option>
			          	<option value="animación">Animación</option>
			          	<option value="artesmarciales">Artes Marciales </option>
			          	<option value="aventura">Aventura</option>
			          	<option value="Bélico">Bélico</option>
			          	<option value="Biográficas">Biográficas</option>
			          	<option value="CienciaFicción">Ciencia ficción</option>
			          	<option value="Comedia">Comedia </option>
			          	<option value="Dibujosanimados">Dibujos animados</option>
			          	<option value="Documentales">Documentales</option>
			          	<option value="Drama">Drama</option>
			          	<option value="Erótico">Erótico </option>
			          	<option value="Fantasía">Fantasía  </option>
			          	<option value="Histórico">Histórico  </option>
			          	<option value="Infantil">Infantil  </option>
			          	<option value="Intriga">Intriga</option>
			          	<option value="Musical">Musical </option>
			          	<option value="Oeste">Oeste</option>
			          	<option value="Policíaca">Policíaca  </option>
			          	<option value="Romántico">Romántico</option>
			          	<option value="Terror">Terror </option>
			          	<option value="Clásicas">Clásicas </option>
			          	<option value="Guerra">Guerra</option>
			          	<option value="Dramageneral">Drama general</option>
			          	<option value="Dramasuspenso">Drama suspenso</option>
			          	<option value="Dramaromance">Drama romance</option>
			          	<option value="Dramapolítico">Drama político</option>
			          	<option value="Dramacomedia">Drama comedia</option>
			          	<option value="Dramajudicial">Drama judicial</option>
			          	<option value="Horror">Horror</option>
			          	<option value="Suspenso">Suspenso</option>
			          	<option value="Deportes">Deportes</option>
			          	<option value="Misterio">Misterio</option>
			          	<option value="épica">épica </option>
			          </select>
			      </div>  
			      <div class="form-group">
			           <label >Duracion</label>
			           <input type="text" class="form-control" id="tduracion"  name="duracion" value="90">  
			      </div>
			      <div class="form-group">
			           <label >Descripcion</label>
			           <textarea class="form-control" id="tdescripcion"  name="descripcion">daasdasdkljaskldjsklad</textarea>
			      </div>
			      <div class="form-group">
			           <label >Clasificacion</label>
			           <input type="text" class="form-control" id="tclasificacion" name="clasificacion"value="A" >  
			      </div>
			      <div class="form-group">
			           <label >Sala</label>
			           <select class="form-control" id="tsala"  name="sala"></select>  
			      </div>
			      <div class="form-group">
			           <label >Hora</label>
			           <select class="form-control" id="thora" name="hora">
			           	<option id="-1" selected></option>
			           	<option value="1">6:30PM-9:00PM</option>
			           	<option value="2">4:30PM-6:30PM</option>
			           	<option value="3">2:30-PM-4:30PM</option>
			           </select>  
			      </div>
			       <div class="form-inline">
			           <label >Cover Imagen</label>
			           <input type="file" id="file" class="form-control" name="file">
			            <div class="row">
			            	<div class="col-md-3 col-xs-3 col-sm-3">
			            		<div id="preview" name="preview"></div>
			            	</div>
			            	<div class="col-md-9 col-xs-9 col-sm-9" id="alertaimagen">
			            	</div>
			            </div>
			           
			      </div>
			      <div class="form-group">
			           <label >Fecha de Estreno de la pelicula</label>
			           <input type="date" class="form-control" id="fecha1" name="fecha1">			            
			      </div>
  			     <div class="form-group">
			           <label >Fecha Final de la pelicula</label>
			           <input type="date" class="form-control" id="fecha2" name="fecha2">			            
			      </div>
			      <div class="form-group">
			           <label >Costo</label>
			           <input type="text" class="form-control" id="costo" name="costo">			            
			      </div>
			      <div class="form-group">
					<button class="btn btn-default" type="submit" id="agregarPelicula2">Agregar Pelicula</button>
			      </div>
			    </form> -->
		</div>
	    <div role="tabpanel" class="tab-pane" id="tabListado">
	    <hr>
			<div class="input-group">
			  <input type="text" class="form-control" placeholder="Nombre, Descripcion, Genereo, Clasificacion" id="tbuscarPelicula">
			  <span class="input-group-btn">
			    <button class="btn btn-default" type="button" id="buscarpelicula" >Buscar Pelicula!</button>
			  </span>
			</div>
			  <div id="alertabuscarpelicula"></div>
			<div id="Listadospeliculas">
                  
            </div>
			<hr>
         </div>

	  </div>

	</div>




  </div>
</div>


<div class="modal fade" id="ModalEditarPelicula" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"  >
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Pelicula</h4>
      </div>
      <div class="modal-body">
      
	   
				  <div id="alertaPeliculaEditar">
				       
				  </div>
	
			      <div class="form-group">
			           <label >Nombre de la pelicula</label>
			           <input type="text" class="form-control" id="tnombre2" >  
			      </div>
			      <div class="form-group">
			           <label >Genero</label>
			          <!--  <input type="text" class="form-control" id="tgenero" value="Accion">   -->
			          <select class="form-control" id="tgenero2"  multiple="multiple">
			          	<option value="acción">Acción </option>
			          	<option value="animación">Animación</option>
			          	<option value="artesmarciales">Artes Marciales </option>
			          	<option value="aventura">Aventura</option>
			          	<option value="Bélico">Bélico</option>
			          	<option value="Biográficas">Biográficas</option>
			          	<option value="CienciaFicción">Ciencia ficción</option>
			          	<option value="Comedia">Comedia </option>
			          	<option value="Dibujosanimados">Dibujos animados</option>
			          	<option value="Documentales">Documentales</option>
			          	<option value="Drama">Drama</option>
			          	<option value="Erótico">Erótico </option>
			          	<option value="Fantasía">Fantasía  </option>
			          	<option value="Histórico">Histórico  </option>
			          	<option value="Infantil">Infantil  </option>
			          	<option value="Intriga">Intriga</option>
			          	<option value="Musical">Musical </option>
			          	<option value="Oeste">Oeste</option>
			          	<option value="Policíaca">Policíaca  </option>
			          	<option value="Romántico">Romántico</option>
			          	<option value="Terror">Terror </option>
			          	<option value="Clásicas">Clásicas </option>
			          	<option value="Guerra">Guerra</option>
			          	<option value="Dramageneral">Drama general</option>
			          	<option value="Dramasuspenso">Drama suspenso</option>
			          	<option value="Dramaromance">Drama romance</option>
			          	<option value="Dramapolítico">Drama político</option>
			          	<option value="Dramacomedia">Drama comedia</option>
			          	<option value="Dramajudicial">Drama judicial</option>
			          	<option value="Horror">Horror</option>
			          	<option value="Suspenso">Suspenso</option>
			          	<option value="Deportes">Deportes</option>
			          	<option value="Misterio">Misterio</option>
			          	<option value="épica">épica </option>
			          </select>
			      </div>  
			      <div class="form-group">
			           <label >Duracion</label>
			           <input type="text" class="form-control" id="tduracion2">  
			      </div>
			      <div class="form-group">
			           <label >Descripcion</label>
			           <textarea class="form-control" id="tdescripcion2" ></textarea>
			      </div>
			      <div class="form-group">
			           <label >Clasificacion</label>
			           <input type="text" class="form-control" id="tclasificacion2" >  
			      </div>
			      <div class="form-group">
			           <label >Sala</label>
			           <select class="form-control" id="tsala2" ></select>  
			      </div>
			      <div class="form-group">
			           <label >Hora</label>
			           <select class="form-control" id="thora2">
			           	<option id="-1" selected></option>
			           	<option value="1">6:30PM-9:00PM</option>
			           	<option value="2">4:30PM-6:30PM</option>
			           	<option value="3">2:30-PM-4:30PM</option>
			           </select>  
			      </div>
			      <!--  <div class="form-inline">
			           <label >Cover Imagen</label>
			           <input type="file" id="file2" class="form-control" name="file">
			      </div> -->
			      <div class="form-group">
			           <label >Fecha de Estreno de la pelicula</label>
			           <input type="date" class="form-control" id="fecha12">
			            
			      </div>
  			     <div class="form-group">
			           <label >Fecha Final de la pelicula</label>
			           <input type="date" class="form-control" id="fecha22">
			            
			      </div> 
			      <div class="form-group">
				        <label >Costo</label>
				       
			           <input type="text" class="form-control" id="costo2" name="costo">			            

				        
				    </div>         
      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" ><span class="glyphicon glyphicon-ban-circle"></span>No </button>
        <a type="button" class="btn btn-primary " id="ModificarPelicula"><span class="glyphicon glyphicon-refresh"></span>Actualizar</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="ModalEliminarPelicula2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"  >
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" >Eliminar Pelicula</h4>
      </div>
      <div class="modal-body" id="alertEliminar">
        <div class='alert alert-danger' >¡Si elimina esta Pelicula se  eliminaran todas las entradas que se han comprado para esta sala ¿Desea Eliminar?</div>                        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" ><span class="glyphicon glyphicon-ban-circle"></span>No </button>
        <a type="button" class="btn btn-primary " id="EliminarPelicula"><span class="glyphicon glyphicon-remove"></span>Si </a>
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript" src="js/bootstrapValidator.js"></script>
  <script src="js/bootstrapValidator.min.js"></script>

<script type="text/javascript"> 
    $(document).ready(function() {

		var upload_input = document.querySelectorAll('#file')[0];

		var disponible=false;
		upload_input.onchange = function(){
			/*console.log(this.files[0]);*/
			$('#preview').html("");
			VisualizarImagen(upload_input.files[0], preview);
		};

 $('#alwaysEnableButtonForm')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                nombre: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        }
                    }
                },
                /*priority: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        }
                    }
                },*/
                duracion: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        },
                        digits:{message: 'Solo numeros'}
                    }
                },
                descripcion: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        }
                    }
                },
                clasificacion: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        }
                    }
                },
                sala: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        }
                    }
                },
                hora: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        }
                    }
                },
                file: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        },
                    }
                },
                fecha1: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        },
                        date: {
	                        format: 'MM/DD/YYYY'
	                    }
                    }
                },
                fecha2: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        },
                        date: {
	                        format: 'MM/DD/YYYY'
	                    }
                    }
                },
                costo: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        },
                        numeric:{message: 'Solo numeros decimales Ejemplo: 1.5'}
                    }
                }

            }
        })
        .on('error.field.bv', function(e, data) {
            data.bv.disableSubmitButtons(false);
        })
        .on('success.field.bv', function(e, data) {
            data.bv.disableSubmitButtons(false);
        });

    	$('#tgenero').multiselect({
        	enableFiltering: true,
            filterPlaceholder: 'Buscar',

        onChange: function(option, checked) {
            var selectedOptions = $('#tgenero option:selected'); 			
            if (selectedOptions.length >=4) {                
                var nonSelectedOptions = $('#tgenero option').filter(function() {
                    return !$(this).is(':selected');
                });
 
                var dropdown = $('#tgenero').siblings('.multiselect-container');
                nonSelectedOptions.each(function() {
                    var input = $('input[value="' + $(this).val() + '"]');
                    input.prop('disabled', true);
                    input.parent('li').addClass('disabled');
                });
            }
            else {
                var dropdown = $('#tgenero').siblings('.multiselect-container');
                $('#tgenero option').each(function() {
                    var input = $('input[value="' + $(this).val() + '"]');
                    input.prop('disabled', false);
                    input.parent('li').addClass('disabled');
                });
            }
        }
         
    });

	$('#tgenero2').multiselect({
        	enableFiltering: true,
            filterPlaceholder: 'Buscar',

        onChange: function(option, checked) {
            var selectedOptions = $('#tgenero option:selected'); 			
            if (selectedOptions.length >=4) {                
                var nonSelectedOptions = $('#tgenero option').filter(function() {
                    return !$(this).is(':selected');
                });
 
                var dropdown = $('#tgenero').siblings('.multiselect-container');
                nonSelectedOptions.each(function() {
                    var input = $('input[value="' + $(this).val() + '"]');
                    input.prop('disabled', true);
                    input.parent('li').addClass('disabled');
                });
            }
            else {
                var dropdown = $('#tgenero').siblings('.multiselect-container');
                $('#tgenero option').each(function() {
                    var input = $('input[value="' + $(this).val() + '"]');
                    input.prop('disabled', false);
                    input.parent('li').addClass('disabled');
                });
            }
        }
         
    });

		$('#buscarpelicula').on('click',  function(){
			if(tbuscarPelicula.value.trim()==""){
				console.log("espacio en blanco");
				alertabuscarpelicula.innerHTML="<div class='alert alert-warning'>¡Por favor escriba algun nombre antes de buscar</b>!</div>";
			}
			else{
				alertabuscarpelicula.innerHTML="";
				$.ajax
		                ({
		                type: "POST",
		                url: "modelo/ControladorPelicula.php",
		                data: {id:5, data:tbuscarPelicula.value},
		                async: false, 
		                dataType: "json",   
		                success:
		                function (msg) 
		                { 
		                	if(msg[0].m==0){
			                    $('#alertabuscarpelicula').fadeIn();
			                    alertabuscarpelicula.innerHTML='<div class="alert alert-danger" role="alert"><a href="#" class="alert-link">¡Pelicula no encontrado!</a></div>';        
			                  }
			                  else{ 
			                    $('#alertabuscarpelicula').fadeOut();
			                    console.log(msg[0].m);
			                    $('#Listadospeliculas').html("");
			                    $('#Listadospeliculas').html("<h1>Peliculas Encontradas <span class='badge'>"+msg[0].m+"</span></h1>")
			                    var table = $('<table></table>').addClass('table table-hover');             
			                    var row=$('<tr></tr>');
			                    $('#Listadospeliculas').append(ListarTabladePelicula(msg, table, row));
			                    EditarPelicula();
			                    /*EditarActualizarCuentas();
			                    eliminarcuenta();*/
			                    /*tcorreo.value=msg[0].email;*/
			                  }	                 
		                 
		                },
		                error:
		                function (msg) {console.log(msg +"No se pudo realizar la conexion");}
		                });

			}
		});

    	function Actualizar(idpelicula){
    		$('#ModificarPelicula').on('click',  function(){
    			console.log("Modificar Pelicula: "+idpelicula);
    			var selectedOptions2 = $('#tgenero2');
    			$.ajax
                      ({
                      type: "POST",
                      url: "modelo/ControladorPelicula.php",
                      data: {id:13, idpelicula:idpelicula, nombre:tnombre2.value, genero:selectedOptions2.val(), duracion:tduracion2.value, descripcion:tdescripcion2.value, clasificacion:tclasificacion2.value, sala:tsala2.value, hora:thora2.value, fecha1:fecha12.value, fecha2:fecha22.value, costo:costo2.value},
                      dataType: "json",
                      async: false,           
                      success:
                      function (msg) 
                      {                       
                          if(msg=="true")
								alertaPeliculaEditar.innerHTML="<div class='alert alert-susscess'>¡Se ha  modificado correctamente la pelicula!</div>";
                       },
                          error:
                          function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                      });
    		});
    	}
		function	EditarPelicula(){
			$('a.editarPelicula').on('click',  function(){
             	var id=$(this).attr('name');
             	listarsalasEnELselect(2);
                console.log("Modal editar Pelicula: "+id);
                    $.ajax
                      ({
                      type: "POST",
                      url: "modelo/ControladorPelicula.php",
                      data: {id:7, ID:id},
                      dataType: "json",
                      async: false,           
                      success:
                      function (msg) 
                      {                       
                          
							tnombre2.value=msg[0].nombre; 
							/*tgenero.value=;*/
							tduracion2.value=msg[0].duracion;
							tdescripcion2.value=msg[0].descripcion;
							tclasificacion2.value=msg[0].clasificacion;
							console.log("Tamano de genero "+(msg[0].genero).length);
							$('#tgenero2').val("Misterio");
							/*$('#tgenero2').val("acción");
						

							for (var i = 0; i < (msg[0].genero).length; i++) {
								console.log("Generos: " + msg[0]['genero'][i]);
								$('#tgenero2').val(msg[0]['genero'][i]).attr("selected", "selected");	
							}*/
							$('#tsala2').val(msg[0].idSala); 
							thora2.value=msg[0].hora; 
							console.log("fecha de inicio: "+msg[0].fechadeinicio);

							fecha12.value=msg[0].fechadeinicio;
							fecha22.value=msg[0].fechafinal;
							costo2.value=msg[0].costo;
                         	Actualizar(id);
                       },
                          error:
                          function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                      });
               

            });
		}
		function ListarTabladePelicula(msg, table, row){     
		        row.append($('<td></td>').html("<b>Nombre</b>"));              
		        row.append($('<td></td>').html("<b>Sala</b>"));
		        row.append($('<td></td>').html("<b>Hora</b>"));
		        row.append($('<td></td>').html("<b>Fecha Final</b>"));
		        table.append(row);          
		        
		        for(i=0; i<msg[0].m; i++){
		          var row2 = $('<tr></tr>');
		          var fila1 = $('<td></td>').text(msg[i].nombre);
		          var fila2 = $('<td></td>').text(msg[i].salanombre);
		          var fila3="";
		          if(msg[i].hora=="1"){
		          	fila3 = $('<td></td>').text("6:30PM-9:00PM");		          	
		          }
		           if(msg[i].hora=="2"){
		          	fila3 = $('<td></td>').text("4:30PM-6:30PM");		          	
		          }
		           if(msg[i].hora=="3"){
		          	fila3 = $('<td></td>').text("2:30-PM-4:30PM");		          	
		          }
		          var fila4 = $('<td></td>').text(msg[i].fechafinal);
		          var fila6 = $('<td></td>').append('<a  class="btn btn-default btn-sm editarPelicula" data-toggle="modal" data-target="#ModalEditarPelicula"  title="Editar/Modificar" name="'+msg[i].idPelicula+'"> <span class="glyphicon glyphicon-pencil"></span></a>');
		            fila6.append('<a type="button" class="btn btn-default btn-sm eliminarPelicula" data-toggle="modal" data-target="#ModalEliminarPelicula2"  title="Eliminar" name="'+msg[i].idPelicula+'"> <span class="glyphicon glyphicon-remove"></span></a>');

		          row2.append(fila1);
		          row2.append(fila2);
		          row2.append(fila3);
		          row2.append(fila4);
		          row2.append(fila6);
		          table.append(row2);
		        }
		        return table;
		  }
		$('#agregarPelicula2').on('click',  function(){
            	console.log("Agregar Pelicula");
				if(validarFormAgregarPelicula()){
					var selectedOptions = $('#tgenero');
					var upload_input = document.querySelectorAll('#file')[0];


		            	$.ajax
		                ({
		                type: "POST",
		                url: "modelo/ControladorPelicula.php",
		                data: {id:2, nombre:tnombre.value, genero:selectedOptions.val(), duracion:tduracion.value, descripcion:tdescripcion.value, clasificacion:tclasificacion.value, sala:tsala.value, hora:thora.value, fecha1:fecha1.value, fecha2:fecha2.value, costo:costo.value},
		                async: false, 
		                dataType: "json",   
		                success:
		                function (msg) 
		                { 
		                	console.log(msg);
							if(msg=="true"){
								

								xhr = new XMLHttpRequest();

								xhr.upload.addEventListener('load',function(e){
									/*alert('Archivo cargado!');*/
								}, false);

								xhr.upload.addEventListener('error',function(e){
									alert('Ha habido un error :/');
								}, false);

								xhr.open('POST','modelo/upload.php');

					            xhr.setRequestHeader("Cache-Control", "no-cache");
					            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
					            xhr.setRequestHeader("X-File-Name", upload_input.files[0].name);

					            xhr.send(upload_input.files[0]);
								alertaPelicula.innerHTML="<div class='alert alert-susscess'>¡Se ha agregado correctamente la pelicula!</div>";
								limpiarFormAgregarPelicula();
					            
							}		                 
		                 
		                },
		                error:
		                function (msg) {console.log(msg +"No se pudo realizar la conexion");}
		                });

				}
        });
		listarsalasEnELselect(1);
        function listarsalasEnELselect(tipo){
    		$.ajax
                ({
                type: "POST",
                url: "modelo/ControladorSala.php",
                data: {id:2},
                async: false, 
                dataType: "json",   
                success:
                function (msg) 
                { 
                  if(tipo==1){
                       	
                      	for(i=0; i<msg[0].m; i++)
      					{			
      						
      						tsala.options[i+1]= new Option (msg[i].nombre);
      						tsala.options[i+1].text = msg[i].nombre+"";
      						tsala.options[i+1].value = msg[i].id;	
      					}
                  }
                  else{

            		      	tsala2.options[0]= new Option ("");
      						tsala2.options[0].text = "";
      						tsala2.options[0].value = "-1";	
                      	for(i=0; i<msg[0].m; i++)
      					{			
      						
      						tsala2.options[i+1]= new Option (msg[i].nombre);
      						tsala2.options[i+1].text = msg[i].nombre+"";
      						tsala2.options[i+1].value = msg[i].id;	
      					}

                  }
                },
                error:
                function (msg) {console.log(msg +"No se pudo realizar la conexion");}
                });
		}
	
		    function limpiarFormAgregarPelicula(){
		    	tnombre.value=""; 
		    	tgenero.value="";
		    	tduracion.value="";
		    	tdescripcion.value="";
		    	tclasificacion.value="";
		    	tsala.value=""; 
		    	thora.value=""; 
		    	fecha1.value="";
		    	fecha2.value="";
		    	file.value="";
		    	costo.value="";
		    	preview.innerHTML="";
		    	alertaimagen.innerHTML="";
		    }
            function validarFormAgregarPelicula(){
            		if(tnombre.value=="")
                    {  
                        alertaPelicula.innerHTML="<div class='alert alert-warning'>¡Por favor escriba el  <b>Nombre de la pelicula</b>!</div>";
                        return false;
                    }
                    else if(tgenero.value=="")
                    {  
                        alertaPelicula.innerHTML="<div class='alert alert-warning'>¡Por favor escriba el  <b>Genero de la pelicula</b>!</div>";
                        return false;
                    }
                    else if(!tduracion.value.match(/^[0-9]+$/))
                    {  
                        alertaPelicula.innerHTML="<div class='alert alert-warning'>¡Por favor escriba la  <b>Duracion de la Pelicula</b>!</div>";
                        return false;
                    }

                    else if(tdescripcion.value=="")
                    {  
                        alertaPelicula.innerHTML="<div class='alert alert-warning'>¡Por favor escriba la  <b>Descripcion de la pelicula</b>!</div>";
                        return false;
                    }
                    else if(tclasificacion.value=="")
                    {  
                        alertaPelicula.innerHTML="<div class='alert alert-warning'>¡Por favor escriba la  <b>Clasificacion de la pelicula</b>!</div>";
                        return false;
                    }
                    else if(tsala.value=="-1")
                    {  
                        alertaPelicula.innerHTML="<div class='alert alert-warning'>¡Por favor selecione la <b>Sala de la pelicula</b>!</div>";
                        return false;
                    }
                    else if(thora.value=="-1")
                    {  
                        alertaPelicula.innerHTML="<div class='alert alert-warning'>¡Por favor selecione <b>El horario de la pelicula</b>!</div>";
                        return false;
                    }
                    else if(fecha1.value=="")
                    {  
                        alertaPelicula.innerHTML="<div class='alert alert-warning'>¡Por favor selecione <b>La fecha de Estreno</b>!</div>";
                        return false;
                    }
                    else if(fecha2.value=="")
                    {  
                        alertaPelicula.innerHTML="<div class='alert alert-warning'>¡Por favor selecione <b>Fecha Final de la pelicula</b>!</div>";
                        return false;
                    }
                    else if(costo.value=="")
                    {  
                        alertaPelicula.innerHTML="<div class='alert alert-warning'>¡Por favor escriba el  <b>Costo de la pelicula</b>!</div>";
                        return false;
                    }
                    else {return true;}
            }


			function VisualizarImagen(file, div) {

			    var reader = new FileReader();
			    var image  = new Image();

			    reader.readAsDataURL(file);  
			    reader.onload = function(_file) {
			        image.src    = _file.target.result;              // url.createObjectURL(file);
			        image.onload = function() {
			            var w = this.width,
			                h = this.height,
			                t = file.type,                           // ext only: // file.type.split('/')[1],
			                n = file.name,
			                s = ~~(file.size/1024) +'KB';
			            div.innerHTML='<img  class="img-thumbnail" width="'+(w*0.1)+'" height="'+(h*0.1)+'" src="'+ this.src +'">'+n+'<br>';
			            if(w>1000&&h>700){
			            	disponible=true;
			            	alertaimagen.innerHTML="";
			            }
			            else{
			            	alertaimagen.innerHTML='<div class="alert alert-danger" role="alert"><a href="#" class="alert-link">¡La imagen debe ser minimo de 1000x700 px!</a></div>'; 
			            }
			        };
			        image.onerror= function() {
			            alertaimagen.innerHTML='<div class="alert alert-danger" role="alert"><a href="#" class="alert-link">¡El archivo seleccionado no es una imagen de formato valido, elija otra por favor!</a></div>'; 
			        };      
			    };

			}

    });		
</script>

