<div class="panel panel panel-info">
  <div class="panel-heading">Registros</div>
  	  <div class="panel-body" >
		  	  <div id="listadefacturas">
				  	  <table class="table">
				  	  	<thead>
				  	  		<tr>
				  	  			<th>
				  	  				Id
				  	  			</th>
				  	  			<th>
				  	  				Pelicula
				  	  			</th>
				  	  			<th>
				  	  				Fecha
				  	  			</th>
				  	  			<th>
				  	  				Hora
				  	  			</th>
				  	  			<th>
				  	  				Sala
				  	  			</th>
				  	  			<th>
				  	  				Opciones
				  	  			</th>
				  	  		</tr>
				  	  	</thead>

				  	  </table>
		  	  </div>
	  </div>
  </div>
</div>

<div class="modal fade" id="VerFactura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
      </div>
      <div class="modal-body" id="factura">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"> 
    $(document).ready(function() {
    	$.ajax
              ({
              type: "POST",
              url: "modelo/ControladorPelicula.php",
              data: {id:8},
              dataType: "json",
              async: false,           
              success:
              function (msg) 
              {   
                   
                    $('#listadefacturas').html("");
                    var table = $('<table></table>').addClass('table table-hover');             
                    var row=$('<tr></tr>');
                    $('#listadefacturas').append(ListarTabladeFacturas(msg, table, row));                   

               },
                  error:
                  function (msg) {console.log( msg +"No se pudo realizar la conexion");}
              });
			$('a.vermas').on('click',  function(){
				 var idFactura=$(this).attr('name');
				 console.log("id Factura: "+idFactura);
				 $.ajax
                  ({
                  type: "POST",
                  url: "modelo/ControladorPelicula.php",
                  data: {id:9, ID:idFactura},
                  dataType: "json",
                  async: false,           
                  success:
                  function (msg) 
                  {   
                      /*console.log(msg);*/
                    
                      $("#factura").load('partials/factura.php', function(){
                        fecha22.innerHTML=msg[0].Fecha;
                        hora.innerHTML=msg[0].hora;
                        ticket.innerHTML=msg[0].id;

                        total2.innerHTML=msg[0].total+ " Bs";
                        customertitle.innerHTML=msg[0].nombre;
                         var fila1 = $('<td class="item-name"></td>').html(msg[0].nombrePelicula);
                         var asientos="";  
                         console.log("asientos: "+msg[0]['asientos']);
                         for (var i =0; i<(msg[0]['asientos']).length; i++) {
                            if(i==0)
                            asientos=msg[0]['asientos'][i];
                            if(i>0)
                              asientos=asientos+ ", "+msg[0]['asientos'][i];

                          }
                         var fila2 = $('<td></td>').html(asientos); 
                         var fila3 = $('<td></td>').html(msg[0].sala);
                          var fila4 ="";
                          if(msg[0].hora2=="1"){
                              fila4 = $('<td></td>').text("6:30PM-9:00PM");               
                            }
                             if(msg[0].hora2=="2"){
                              fila4 = $('<td></td>').text("4:30PM-6:30PM");               
                            }
                             if(msg[0].hora2=="3"){
                              fila4 = $('<td></td>').text("2:30-PM-4:30PM");                
                            }    

                         var fila5 = $('<td></td>').html(msg[0].costo);  
                         var fila6 = $('<td></td>').html(msg[0].cantidad);
                         var fila7 = $('<td></td>').html(msg[0].total);
                       
                        $('#detallesdecompra').append(fila1);
                        $('#detallesdecompra').append(fila2);
                        $('#detallesdecompra').append(fila3);
                        $('#detallesdecompra').append(fila4);
                        $('#detallesdecompra').append(fila5);
                        $('#detallesdecompra').append(fila6);
                        $('#detallesdecompra').append(fila7);




                      });

                  },
                      error:
                      function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                  });

			});

			function ListarTabladeFacturas(msg, table, row){     
		        row.append($('<td></td>').html("<b>Id</b>"));              
		        row.append($('<td></td>').html("<b>Pelicula</b>"));
		        row.append($('<td></td>').html("<b>Fecha</b>"));
		        row.append($('<td></td>').html("<b>Hora</b>"));
		        row.append($('<td></td>').html("<b>Sala</b>"));
		        row.append($('<td></td>').html("<b>Opciones</b>"));

		        table.append(row);          
		        
		        for(i=0; i<msg[0].m; i++){
		          var row2 = $('<tr></tr>');
		          var fila1 = $('<td></td>').text(msg[i].id);
		          var fila2 = $('<td></td>').text(msg[i].nombre);
		          var fila3 = $('<td></td>').text(msg[i].fecha);
		          var fila4 = $('<td></td>').text(msg[i].hora);
		          var fila5 = $('<td></td>').text(msg[i].numero);

		          var fila6 = $('<td></td>').append('<a  class="btn btn-default btn-sm vermas" data-toggle="modal" data-target="#VerFactura"  title="Ver Factura" name="'+msg[i].id+'"> <span class="glyphicon glyphicon-eye-open"></span></a>');

		          row2.append(fila1);
		          row2.append(fila2);
		          row2.append(fila3);
		          row2.append(fila4);
		          row2.append(fila5);
		          row2.append(fila6);
		          table.append(row2);
		        }
		        return table;
		  }

    });
</script>