<link href="css/bootstrapValidator.css" rel="stylesheet">

<div class="panel panel panel-info">
  <div class="panel-heading">Agregar Sala</div>
  <div class="panel-body" >
    
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tabAgregar" aria-controls="home" role="tab" data-toggle="tab">Agregar</a></li>
      <li role="presentation"><a href="#tabBuscar" aria-controls="profile" role="tab" data-toggle="tab">Buscar</a></li>
      <li role="presentation" id="listado"><a href="#tabListado" aria-controls="profile" role="tab" data-toggle="tab">Listado</a></li>
    </ul>

     <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tabAgregar">   
                        <hr>
                       <div id="alertaSala">
                          <div class="alert alert-warning" role="alert">
                               <a href="#" class="alert-link">Escriba todos los datos</a>
                          </div>
                       </div>
                   <form id="AgregarSala" method="post" class="form-horizontal" onsubmit="return false;">
                           <div class="form-group">
                              <label class="col-sm-5 control-label">Nro de Sala</label>
                              <div class="col-sm-7">
                                  <input type="text" class="form-control" id="tnumeros"  name="numero">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-5 control-label">Nombre de la Sala</label>
                              <div class="col-sm-7">
                                  <input type="text" class="form-control" id="tnombres" name="nombre">  

                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-5 col-sm-offset-3">
                                  <button type="submit" class="btn btn-default" id="AgregarSala"><span class="glyphicon glyphicon-plus"></span>Agregar Sala</button>
                              </div>
                          </div>
                    </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabBuscar">
                  <hr>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Numero, Nombre" id="tbuscarSala">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" id="buscarSala" >Buscar Sala!</button>
                    </span>
                  </div>
                  <div id="alertaBuscarSala" style="display:none;">
                          <div class="alert alert-warning" role="alert">
                               <a href="#" class="alert-link"></a>
                          </div>
                  </div>
                  <hr>
                  <div id="resultados">
                    
                  </div>
            </div>
             <div role="tabpanel" class="tab-pane" id="tabListado">
                  
                  
                  <hr>
                  <div id="salas">
                    
                  </div>
            </div>
     </div>


 
  </div>
</div>


<div class="modal fade" id="ModalEditarSala" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"  >
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Sala</h4>
      </div>
      <div class="modal-body">
                        <div id="alertaSalaEditar">
                          <div class="alert alert-warning" role="alert">
                               <a href="#" class="alert-link">Escriba todos los datos</a>
                          </div>
                      </div>
                        <div class="form-group">
                             <label >Nro de Sala</label>
                             <input type="text" class="form-control" id="tnumeros2" >  
                        </div>
                        <div class="form-group">
                             <label >Nombre de la Sala</label>
                             <input type="text" class="form-control" id="tnombres2" >  
                        </div>
                       <!--  <div class="form-group">
                             <label >Cantidad Maxima de puestos</label>
                             <input type="text" class="form-control" id="tmax2" >  
                        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelar"><span class="glyphicon glyphicon-ban-circle"></span> Cancelar</button>
        <a type="button" class="btn btn-primary ModificarSala" ><span class="glyphicon glyphicon-refresh"></span> Modificar</a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalEliminarSala" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"  >
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Sala</h4>
      </div>
      <div class="modal-body" id="alertEliminar">
        <div class='alert alert-danger' >¡Si elimina esta sala eliminara todas las entradas que se han comprado para esta sala ¿Desea Eliminar?</div>                        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" ><span class="glyphicon glyphicon-ban-circle"></span>No </button>
        <a type="button" class="btn btn-primary " id="EliminarSala"><span class="glyphicon glyphicon-remove"></span>Si </a>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="js/bootstrapValidator.js"></script>
  <script src="js/bootstrapValidator.min.js"></script>
<script type="text/javascript"> 
    $(document).ready(function() {
            
  $('#AgregarSala')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                nombre: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        }
                    }
                },
               
                numero: {
                    validators: {
                        notEmpty: {
                            message: 'Se requiere este campo'
                        },
                        digits:{message: 'Solo numeros en este campo'}
                    }
                }

            }
        })
        .on('error.field.bv', function(e, data) {
            data.bv.disableSubmitButtons(false);
        })
        .on('success.field.bv', function(e, data) {
            data.bv.disableSubmitButtons(false);
        });
           $('#AgregarSala').on('click',  function(){                
               if(validarFormAgregarSala()){
                    $.ajax
                      ({
                      type: "POST",
                      url: "modelo/ControladorSala.php",
                      data: {id:1, numero:tnumeros.value, nombre:tnombres.value},
                      dataType: "json",
                      async: false,           
                      success:
                      function (msg) 
                      {   console.log(msg);                   
                          if(msg=="true"){        
                              alertaSala.innerHTML="<div class='alert alert-success'>¡Se ha agregado correctamente!</div>";
                              tnumeros.value="";
                              tnombres.value="";
                              /*tmax.value="";*/
                          }
                          if(msg=="repetido"){        
                              alertaSala.innerHTML="<div class='alert alert-danger'>¡Ya existe esa sala que trata de agregar!</div>";
                          }
                       },
                          error:
                          function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                      });
               }

            });

        $('a.editarSala').on('click',  function(){
                console.log("Modal editar sala");
               /*if(validarFormAgregarSala2()){
                    $.ajax
                      ({
                      type: "POST",
                      url: "modelo/ControladorSala.php",
                      data: {id:4, numero:tnumeros2.value, nombre:tnombres2.value, maximo:tmax2.value},
                      dataType: "json",
                      async: false,           
                      success:
                      function (msg) 
                      {   console.log(msg);                     
                          
                          if(msg=="true"){        
                              alertaSalaEditar.innerHTML="<div class='alert alert-success'>¡Se ha Actualizado correctamente!</div>";
                              tnumeros2.value="";
                              tnombres2.value="";
                              tmax2.value="";
                          }
                         
                       },
                          error:
                          function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                      });
               }*/

            });
        $('#buscarSala').on('click',  function(){
          if(tbuscarSala.value!=""){
            $.ajax
                ({
                type: "POST",
                url: "modelo/ControladorSala.php",
                data: {id:3, data:tbuscarSala.value},
                async: false, 
                dataType: "json",   
                success:
                function (msg) 
                { 
                  console.log("Buscando");
                  if(msg[0].m==0){
                    $('#alertaBuscarSala').fadeIn();
                    alertaBuscarSala.innerHTML='<div class="alert alert-danger" role="alert"><a href="#" class="alert-link">¡Sala no encontrado!</a></div>';        
                  }
                  else{ 
                    $('#alertaBuscarSala').fadeOut();
                    console.log(msg[0].m);
                    $('#resultados').html("");
                    $('#resultados').html("<h1>Salas Encontrados</h1>")
                    var table = $('<table></table>').addClass('table table-hover');             
                    var row=$('<tr></tr>');
                    $('#resultados').append(ListarTabladeSala(msg, table, row));
                    editarSala();
                    /*EditarActualizarCuentas();
                    eliminarcuenta();*/
                    /*tcorreo.value=msg[0].email;*/
                  }
                },
                error:
                function (msg) {console.log(msg +"No se pudo realizar la conexion");}
                });
          }
          else{
            $('#alertaBuscarSala').fadeIn();
            alertaBuscarSala.innerHTML='<div class="alert alert-danger" role="alert"><a href="#" class="alert-link">¡Por Favor debe escribir un numero o un nombre!</a></div>';
          }
        });

        $('#listado').on('click',  function(){                
              listar();
        });
            function listar(){
              $.ajax
                ({
                type: "POST",
                url: "modelo/ControladorSala.php",
                data: {id:2},
                async: false, 
                dataType: "json",   
                success:
                function (msg) 
                { 
                 // console.log(msg[0].m);
                  $('#salas').html("");
                  $('#salas').html("<h1>Salas Agregadas</h1>")
                  var table = $('<table></table>').addClass('table table-hover');             
                  var row=$('<tr></tr>');
                  $('#salas').append(ListarTabladeSala(msg, table, row));
                  editarSala();
                  eliminarSala();
                  /*EditarActualizarCuentas();
                  eliminarcuenta();*/
                  /*tcorreo.value=msg[0].email;*/
                },
                error:
                function (msg) {console.log(msg +"No se pudo realizar la conexion");}
                });
            }

            function editarSala(){

                $('a.editarSala').on('click',  function(){
                        console.log("Modal editar sala");
                        var id=$(this).attr('name');
                        alertaSalaEditar.innerHTML="";
                        $.ajax
                              ({
                              type: "POST",
                              url: "modelo/ControladorSala.php",
                              data: {id:5, IDSALA:id},
                              dataType: "json",
                              async: false,           
                              success:
                              function (msg) 
                              {                       
                                  
                                  
                                      tnumeros2.value=msg[0].numero;
                                      tnombres2.value=msg[0].nombre;
                                      /*tmax2.value=msg[0].maximo;*/
                                      $('#ModificarSala').attr('name', msg[0].id);
                                 
                               },
                                  error:
                                  function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                                });
                   
                       

                       $('a.ModificarSala').on('click',  function(){
                            if(validarFormAgregarSala2()){
                                  $.ajax
                                    ({
                                    type: "POST",
                                    url: "modelo/ControladorSala.php",
                                    data: {id:4, numero:tnumeros2.value, nombre:tnombres2.value, IDSALA:id},
                                    dataType: "json",
                                    async: false,           
                                    success:
                                    function (msg) 
                                    {   console.log(msg);                     
                                        
                                        if(msg=="true"){        
                                            alertaSalaEditar.innerHTML="<div class='alert alert-success'>¡Se ha Actualizado correctamente!</div>";
                                            tnumeros2.value="";
                                            tnombres2.value="";
                                            listar();
                                        }
                                       
                                     },
                                        error:
                                        function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                                    });
                             }
                        });

                    });

            }

            function eliminarSala(){
              $('a.eliminarSala').on('click',  function(){
                    var id=$(this).attr('name');
                    console.log("Modal Eliminar sala "+id);
                     
                    $('#EliminarSala').on('click',  function(){
                      console.log("Click en si");
                        $.ajax
                            ({
                            type: "POST",
                            url: "modelo/ControladorSala.php",
                            data: {id:6, IDSALA:id},
                            async: false, 
                            dataType: "json",   
                            success:
                            function (msg) 
                            { 
                              if(msg=="true"){
                                alertEliminar.innerHTML=" <div class='alert alert-success' >¡Se ha eliminado correctamente!</div> ";
                                $('#ModalEliminarSala').modal('hide');
                                listar();
                              }
                            },
                            error:
                            function (msg) {console.log(msg +"No se pudo realizar la conexion");}
                            });                    
                    });      
              });
            }
            function validarFormAgregarSala(){

                    if(!tnumeros.value.match(/^[0-9]+$/))
                    {  
                        alertaSala.innerHTML="<div class='alert alert-warning'>¡Por favor escriba un <b>Numero de sala</b>!</div>";
                        return false;
                    }
                    else if(tnombres.value=="")
                    {  
                        alertaSala.innerHTML="<div class='alert alert-warning'>¡Por favor escriba el  <b>Nombre de la sala</b>!</div>";
                        return false;
                    }
                    /*else if(!tmax.value.match(/^[0-9]+$/))
                    {  
                        alertaSala.innerHTML="<div class='alert alert-warning'>¡Por favor escriba la <b>Cantidad Maxima</b>!</div>";
                        return false;
                    }*/
                    else {return true;}
            }

             function validarFormAgregarSala2(){

                    if(!tnumeros2.value.match(/^[0-9]+$/))
                    {  
                        alertaSalaEditar.innerHTML="<div class='alert alert-warning'>¡Por favor escriba un <b>Numero de sala</b>!</div>";
                        return false;
                    }
                    else if(tnombres2.value=="")
                    {  
                        alertaSalaEditar.innerHTML="<div class='alert alert-warning'>¡Por favor escriba el  <b>Nombre de la sala</b>!</div>";
                        return false;
                    }
                    /*else if(!tmax2.value.match(/^[0-9]+$/))
                    {  
                        alertaSalaEditar.innerHTML="<div class='alert alert-warning'>¡Por favor escriba la <b>Cantidad Maxima</b>!</div>";
                        return false;
                    }*/
                    else {return true;}
            }      


          function ListarTabladeSala(msg, table, row){     
                row.append($('<td></td>').html("<b>Numero</b>"));              
                row.append($('<td></td>').html("<b>Sala</b>"));
                row.append($('<td></td>').html("<b>Opciones</b>"));
                table.append(row);          
                
                for(i=0; i<msg[0].m; i++){
                  var row2 = $('<tr></tr>');
                  var fila1 = $('<td></td>').text(msg[i].numero);
                  var fila2 = $('<td></td>').text(msg[i].nombre);
                  var fila6 = $('<td></td>').append('<a  class="btn btn-default btn-sm editarSala" data-toggle="modal" data-target="#ModalEditarSala"  title="Editar/Modificar" name="'+msg[i].id+'"> <span class="glyphicon glyphicon-pencil"></span></a>');
                    fila6.append('<a type="button" class="btn btn-default btn-sm eliminarSala" data-toggle="modal" data-target="#ModalEliminarSala"  title="Eliminar" name="'+msg[i].id+'"> <span class="glyphicon glyphicon-remove"></span></a>');

                  row2.append(fila1);
                  row2.append(fila2);
                  row2.append(fila6);
                  table.append(row2);
                }
                return table;
          }
        

        });
</script>