<style type="text/css">
	.silla{
		width: 40px;
		height: 40px;
		padding-left: 0px;

	}
	
</style>
<div id="listadodeasientos">
	
</div>
<div id="costo">Costo: 0Bs</div>


<script type="text/javascript"> 
    $(document).ready(function() {

	

    });
</script>
