<div class="row">
            <div class="col-xs-12">
                 <ol class="breadcrumb">
                    <li id="menuprincipal"><a href="#">Menu Principal</a>
                    </li>
                    <li class="active">Consulta de Solicitud</li>
                </ol>
            </div>
    </div>

    <div class="row">
            <div class="col-xs-4">
                    <div class="form-inline">
                        <label >MES:</label>
                        <select class="form-control input-sm" id="mes">
                            <option value="-1"></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        
                    </div>
            </div>
            <div class="col-xs-4">
                    <div class="form-inline">
                        <label >AÑO:</label>
                        <select class="form-control input-sm" id="ano">
                            <option value="-1"></option>
                            <option value="1990">1990</option>
                            <option value="1991">1991</option>
                            <option value="1992">1992</option>
                            <option value="1993">1993</option>
                            <option value="1994">1994</option>
                            <option value="1995">1995</option>
                            <option value="1996">1996</option>
                            <option value="1997">1997</option>
                            <option value="1998">1998</option>
                            <option value="1999">1999</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                        </select>
                        
                    </div>
            </div>
    </div>
    <br>
    <h5>DATOS DE SOLICITUD</h5>
    <hr>
    <div id="listado">
    <table style="width:100%;">
    	<thead>
    		<tr>
                <th>
                    
                </th>
    			<th>
    				N DE SOLICITUD
    			</th>
    			<th>
    				FECHA
    			</th>
    			<th>
    				HORA
    			</th>
    			<th>
    				TIPO DE FALLA
    			</th>
    		</tr>
    	</thead>
    
    </table>
   
        
    </div>
   <br>
   <hr>

    <script type="text/javascript"> 
        $(document).ready(function() {

        mes.onchange=function(){
            console.log("cambio el mes");

        }

        ano.onchange=function(){
            console.log("Cambio en ano");
            $.ajax
                ({
                type: "POST",
                url: "modelo/consultasServicio.php",
                data: {id:3, mes:mes.value, ano:ano.value},
                async: false,   
                dataType: "json",       
                success:
                function (msg) 
                {   
                    console.log(msg);
                    if(msg[0].m>0){
                         $('#listado').html("");
                        
                        var table = $('<table style="width:100%;"></table>');                         
                        var row=$('<tr></tr>');
                        $('#listado').append(ListarTabla(msg, table, row, ano.value));          
                    }
                 },
                    error:
                    function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                });

        }
        function ListarTabla(msg, table, row, ano){                      
                row.append($('<td></td>').html("<b>N DE SOLICITUD</b>"));                            
                row.append($('<td></td>').html("<b>FECHA</b>"));
                row.append($('<td></td>').html("<b>HORA</b>"));
                row.append($('<td></td>').html("<b>TIPO DE FALLA</b>"));
                
                table.append(row);  
                for(i=0; i<msg[0].m; i++){
                    console.log("ano pedido: "+ano + " : " +msg[i]['fechadeingreso'][0]);
                    if(ano==msg[i]['fechadeingreso'][0]){
                        var row2 = $('<tr></tr>');
                        var fila1 = $('<td></td>').text(msg[i].id);
                        var fila2 = $('<td></td>').text(msg[i].fechadeingreso);
                        var fila3 = $('<td></td>').text(msg[i].hora);
                        var fila4 = $('<td></td>').text(msg[i].tipodefalla);                    
                        console.log(i+" "+msg[i].id);
                        row2.append(fila1);
                        row2.append(fila2);
                        row2.append(fila3);
                        row2.append(fila4);                                 
                        table.append(row2);
                    }

                }
                return table;
            }

        });
    </script>