<br><br>
<center>
    <form class="form-signin" role="form" onsubmit="return false;">  
           <div id="alertas"> <div class="alert alert-info">Ingrese Los datos</div></div> 
           
          <table>
          	<tr>
          		<td>Usuario</td>
          		<td><input  id="temail" type="text"  class="form-control input-sm" ></td>
          	</tr>
          	<tr>
          		<td>Clave</td>
          		<td><input  id="tpass" type="password"  class="form-control input-sm" ></td>
          	</tr>
          </table>
     </form>
 </center>
 <br>
 <button type="button" class="btn btn-default btn-xs" style="float:right;" id="iniciarsesion">Ingresar</button>