

<br><br><br>
<!-- <div class="form-group">
   <button type="button" class="btn btn-default btn-xs" id="solicituddeservicio">SOLICITUD DE SERVICIO</button>
  </div>
  <div class="form-group">
   <button type="button" class="btn btn-default btn-xs" id="consultar">CONSULTA DE SOLICITUD</button>
  </div>
   <div class="form-group">
   <button type="button" class="btn btn-default btn-xs" id="tiempo">TIEMPO DE RESPUESTA</button>
  </div> -->

<ul class="nav nav-pills nav-stacked">
  <li><a href="#" class="btn btn-default btn-xs" id="solicituddeservicio">SOLICITUD DE SERVICIO</a></li>
  <li><a href="#" class="btn btn-default btn-xs" id="consultar">CONSULTA DE SOLICITUD</a></li>
  <li><a href="#" class="btn btn-default btn-xs" id="tiempo">TIEMPO DE RESPUESTA</a></li>
<!--   <li><a href="#" class="btn btn-default btn-xs" id="verInforme">VER INFORME</a></li> -->
</ul>

  <!-- <div class="row">            
            <div class="col-md-12 col-xs-12 col-sm-12">
			<button type="button" class="btn btn-default" id="solicituddeservicio">SOLICITUD DE SERVICIO</button><br>	
			<button type="button" class="btn btn-default" id="consultar">CONSULTAR</button>
			</div>
</div> -->