         <div class="row">
                    <div class="col-xs-12">
                         <ol class="breadcrumb">
                            <li id="menuprincipal" class="active">Menu Principal</li>
                           
                        </ol>
                        <div style="text-align:right;"><a href="#" id="cerrarSesion">Cerrar Sesion</a></div> 
                    </div>
            </div>
            <div class="row">            
                
                <div class="col-xs-4">
                    <div id="menuizquierdo"> 

                            
                    </div>
                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-6">
                <br><br>
                    <center>
                        <img src="img/logosaludanz.jpg"  style="width:100%; height: 80px;" class="img-responsive" alt="Responsive image">    
                    </center>
                </div>
            </div> 
            <br><br><br><br>
    