<!-- <div class="form-group">
   <button type="button" </button>
  </div>
  <div class="form-group">
   <button type="button" </button>
  </div>
  <div class="form-group">
   <button type="button" class="btn btn-default btn-xs" id="registrarequipos">REGISTRAR EQUIPO</button>
  </div>
  <div class="form-group">
   <button type="button" class="btn btn-default btn-xs" id="mantenimiento">MANTENIMIENTO</button>
  </div>
  <div class="form-group">
   <button type="button" </button>
  </div>
  <div class="form-group">
   <button type="button" </button>
  </div>
 -->
<br>
<ul class="nav nav-pills nav-stacked">
  <li><a href="#" class="btn btn-default btn-xs" id="administrarusuarios">ADMINISTRAR USUARIOS </a></li>
   <li><a href="#" class="btn btn-default btn-xs" id="administrarequipos">ADMINISTRAR EQUIPOS </a></li>
  <li><a href="#" class="btn btn-default btn-xs" id="solicituddeservicio">SOLICITUDES</a></li>
  <li><a href="#" class="btn btn-default btn-xs" id="asignartecnico">ASIGNAR TECNICO</a></li>
  <li><a href="#" class="btn btn-default btn-xs" id="verInforme">VER INFORME</a></li>
   <li><a href="#" class="btn btn-default btn-xs" id="solicitudesasignadas">SOLICITUDES ASIGNADAS</a></li>
</ul>
