
<br><br>


<ul class="nav nav-pills nav-stacked">
  <li><a href="#" class="btn btn-default btn-xs" id="consultadesolicitud">CONSULTAS DE SOLICITUD</a></li>
  <li><a href="#" class="btn btn-default btn-xs" id="generarinformetecnico">GENERAR INFORME TECNICO</a></li>
<!--   <li><a href="#" class="btn btn-default btn-xs" id="asignartecnico">ASIGNAR TECNICO</a></li>
  <li><a href="#" class="btn btn-default btn-xs" id="verInforme">VER INFORME</a></li> -->
</ul>
